<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="mataheader :: headfragment">
</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div th:replace="matatopmenu :: topmenufragment"></div>
		<div th:replace="mataleftmenu :: leftmenu"></div>

		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<!-- Page Content -->
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-heaer">
								<i class="las la-archive"> <b><span th:text="${title}"></span></b></i>
							</h3>
							<br>
							<ul class="breadcrumb">
								<li class="breadcrumb-item">Container</li>
								<li class="breadcrumb-item active"><span th:text="${title}"></span></li>
							</ul>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-7">
						<div class="card">
							<div class="card-body">
								<form th:action="@{/container/add}" th:object="${container}" method="POST">
									
									<input type="hidden" th:field="*{id}">
									<input type="hidden" th:field="*{weight}">
									<input type="hidden" th:field="*{size}">
									<input type="hidden" th:value="${title}" name="title">
									
									<table border="0" cellpadding="10" class="col-md-12">
										<tr>
											<td colspan="3">
												<div class="form-group">
													<label><b>Shipping Bill (or) BOE Number<font color="red">*</font></b></label> 
													<input type="text" th:field="*{boeNo}" placeholder="Enter Shipping Bill No." class="form-control"  readonly required>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-group">
													<label><b>Container Number</b></label> 
													<input type="text" th:field="*{containerNo}" placeholder="Enter Container No" class="form-control" readonly>
												</div>
											</td>
											<td>
												<div class="form-group">
													<label><b>Type</b></label> 
													<input type="text" th:field="*{type}" placeholder="Enter Type" class="form-control" readonly>
												</div>
											</td>
											<td>
											<div class="form-group">
													<label><b>Seal Number</b></label> 
													<input type="text" th:field="*{sealNo}" placeholder="Enter Seal No" class="form-control" readonly>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-group">
													<label><b>Vessel</b></label> 
													<input type="text" th:field="*{vessel}" placeholder="Enter Vessel" class="form-control"  readonly>
												</div>
											</td>
											<td>
												<div class="form-group">
													<label><b>Voyage Number</b></label> 
													<input type="text" th:field="*{voyageNo}" placeholder="Enter Voyage No." class="form-control"  readonly>
												</div>
											</td>
											<td>
												<div class="form-group">
													<label><b>Operator</b></label> 
													<input type="text" th:field="*{operator}" placeholder="Enter Operator" class="form-control"  readonly>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-group">
													<label><b>Origin</b></label> 
													<input type="text" th:field="*{origin}" placeholder="Enter Origin" class="form-control"  readonly>
												</div>
											</td>
											<td>
												<div class="form-group">
													<label><b>Destination</b></label> 
													<input type="text" th:field="*{destination}" placeholder="Enter Destination" class="form-control"  readonly>
												</div>
											</td>
												<td>
												<div class="form-group">
													<label><b>Container Type</b></label> 
													<input type="text" th:field="*{containerType}" placeholder="Enter Conatiner Type" class="form-control"  readonly>
												</div>
											</td>
										</tr>
										<tr>
											<td colspan="3">
												<div class="form-group">
													<label><b>Current Status</b> &nbsp; &nbsp; <img alt="No Image" th:src="*{currentStatus}" width="20px"></label> 
												</div>
											</td>
										</tr>
									</table>
									
									<div class="text-right">
										<button type="submit" class="btn btn-primary">Submit</button>
									    <a class="btn btn-danger" th:href="@{/container/new}">Cancel</a>
									</div>
								</form>
								<div class="form-group">
									<label><b><font color="red">Status Legend:</font></b></label><br>
									<ul style="list-style-type:disc;">
								<li><img alt="No Image" src="/assets/images/Green.jpg" width="15px"> &nbsp;<span>Ready For Booking</span></li>
								<li><img alt="No Image" src="/assets/images/Red.jpg" width="15px"> &nbsp;<span>Not Available To VBS</span></li>
								<li><img alt="No Image" src="/assets/images/Amber.jpg" width="15px"> &nbsp;<span>Not Discharged From Vessel</span></li>
								<li><img alt="No Image" src="/assets/images/cross.png" width="15px"> &nbsp;<span>Customs Clearing Pending</span></li>
								<li><img alt="No Image" src="/assets/images/hand.png" width="15px"> &nbsp;<span>Held By Authorities</span></li>
								<li><img alt="No Image" src="/assets/images/grey.png" width="15px"> &nbsp;<span>Already Booked Or Processed</span></li>
								</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="matafooter :: footer"></div>
	<script src="/assets/js/app.js"></script> 
	
</body>
</html>