<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="mataheader :: headfragment">
</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div th:replace="matatopmenu :: topmenufragment"></div>
		<div th:replace="mataleftmenu :: leftmenu"></div>



		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<!-- Page Content -->
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-heaer">
								<i class="la la-user-plus"> <b><span th:text="${title}"></span></b></i>
							</h3>
							<br>
							<ul class="breadcrumb">
								<li class="breadcrumb-item">User</li>
								<li class="breadcrumb-item active"><span th:text="${title}"></span></li>
							</ul>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-body">
								<form th:action="@{/user/add}" th:object="${user}" method="POST">
									<input type="hidden" th:field="*{id}"
										placeholder="User Id" class="form-control mb-4 col-4">
									<input type="hidden" th:value="${title}" name="title"
										 class="form-control mb-4 col-4">
									<div class="form-group">
										<label><b>Username:</b></label> <input type="email"
											th:field="*{userName}" placeholder="Enter User Name"
											class="form-control">
									</div>
									<div class="form-group">
										<label><b>Password:</b></label> <input type="password"
											th:field="*{password}" placeholder="Enter password"
											class="form-control" required>
									</div>
									<div class="form-group">
										<label><b>Phone:</b></label> <input type="text"
											th:field="*{phone}" placeholder="Enter Mobile Number "
											class="form-control">
									</div>
									<div class="form-group" >
										<label><b>Role:</b></label> 
										<select name="role" th:field="*{role}" class="form-control">
											<option value="">Select Role</option>
											<option th:each="role : ${listRole}" th:value="${role.id}" th:text="${role.name}">
										</select>
									</div>
									
									<div class="text-right">
										<button type="submit" class="btn btn-primary">Submit</button>
									    <a class="btn btn-danger" th:href="@{/user}">Cancel</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="matafooter :: footer"></div>
	<script src="/assets/js/app.js"></script> 
	
</body>
</html>