<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
	 

</style>

<head>
 	<link th:rel="stylesheet" href="/assets/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
 
 	<link th:rel="stylesheet" href="/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css"/>
 
    <link th:rel="stylesheet" href="/webjars/font-awesome/5.11.2/css/all.css"/>
 
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/mata_logo.png">
		
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
	<!-- Lineawesome CSS -->
    <link rel="stylesheet" href="/assets/css/line-awesome.min.css">
		
	<!-- Chart CSS -->
	<link rel="stylesheet" href="/assets/plugins/morris/morris.css">
		
	<!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
		
	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/assets/css/select2.min.css">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/line-awesome.css">
    
     <style>
		.slots {
		    display: flex;
		    flex-wrap: wrap;
		    gap: 1px;
		    margin-top: 5px;
		}
		
		.slot {
		    padding: 10px;
		    border: 2px solid #ddd;
		    border-radius: 4px;
		    cursor: pointer;
		    width: 80px;
		    margin:10px;
		    text-align: center;
		}
		
		.slot.available {
		    border-color: #28a745;
		}
		
		.slot.booked {
		    border-color: #dc3545;
		    background-color: #dc3545;
		    color: #fff;
		    cursor: not-allowed;
		}
    </style>

</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div th:replace="matatopmenu :: topmenufragment"></div>
		<div th:replace="mataleftmenu :: leftmenu"></div>

		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<!-- Page Content -->
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-heaer">
								<i class="las la-landmark"> <b><span th:text="${title}"></span></b></i>
							</h3>
							<br>
							<ul class="breadcrumb">
								<li class="breadcrumb-item">Booking</li>
								<li class="breadcrumb-item active"><span th:text="${title}"></span></li>
							</ul>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-7">
						<div class="card">
							<div class="card-body">
								<form th:action="@{/booking/add}" th:object="${booking}" method="POST">
									
									<input type="hidden" th:field="*{id}">
									<input type="hidden" th:value="${title}" name="title">
									<div class="row">
    									<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3"><b>Trip Type</b></label>
												<div class="form-check form-check-inline col-lg-2">
													<input class="form-check-input" id="trip_type_pick_up" type="radio" th:field="*{tripType}" value="Pick Up">
													<label class="form-check-label" for="trip_type_pick_up">Pick Up</label>
												</div>
												<div class="form-check form-check-inline col-lg-2">
													<input class="form-check-input" id="trip_type_drop" type="radio" th:field="*{tripType}" value="Drop">
													<label class="form-check-label" for="trip_type_drop">Drop</label>
												</div>
												<div class="form-check form-check-inline col-lg-2">
													<input class="form-check-input" id="trip_type_pickup_drop" type="radio" th:field="*{tripType}"  value="Drop & Pick up">
													<label class="form-check-label" for="trip_type_pickup_drop">Drop & Pick Up</label>
												</div>
											</div>
										</div>
									</div>
									
									<div class="booking-details">
									</div>
									
									<div class="booking-details">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group autocomplete">
													<label class="col-form-label"><b>Vehicle Number</b></label>
													<input id="vehicle" class="form-control" type="text" th:field="*{vehicleNo}" placeholder="Enter Vehicle No.">
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group autocomplete">
													<label><b>Pick-Up Containers</b></label> 
													<input id="pick-up-container" type="text" th:field="*{pickUpContainerNo}" placeholder="Enter Pick-Up Container No." class="form-control">
												</div>
											</div>
											
											<div class="col-sm-6">
												<div class="form-group autocomplete">
													<label><b>Drop Containers</b></label> 
													<input id="drop-container" type="text" th:field="*{dropContainerNo}" placeholder="Enter Drop Container No." class="form-control">
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label><b>Choose Date</b></label> 
													<input id="date-choose" type="date" th:field="*{bookingDateStr}" class="form-control">
												</div>
											</div>
										</div>
									</div>
									
									
									<div class="form-group">
										<label><b>Select Slot</b></label>
										<div id="slots-1" class="slots">
											
										</div>
										<div id="slots-2" class="slots">
											
										</div>
										<div id="slots-3" class="slots">
											
										</div>
									</div>
									
									<div class="text-right">
										<button type="submit" class="btn btn-primary">Submit</button>
									    <a class="btn btn-danger" th:href="@{/booking}">Cancel</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="matafooter :: footer"></div>
	<script src="/assets/js/app.js"></script>
	
	<script>
		$(document).ready(function(){
			$(".form-check-input").click(function () {
				

				
			})
			//slotting
	    	// Slot data
			const slots = [
			    { id: 'id'+1, time: '01:00', available: true },
			    { id: 'id'+2, time: '02:00', available: true },
			    { id: 'id'+3, time: '03:00', available: false },
			    { id: 'id'+4, time: '04:00', available: true },
			    { id: 'id'+5, time: '05:00', available: false },
			    { id: 'id'+6, time: '06:00', available: true },
			    { id: 'id'+7, time: '07:00', available: true },
			    { id: 'id'+8, time: '08:00', available: true },
			    { id: 'id'+9, time: '09:00', available: true },
			    { id: 'id'+10, time: '10:00', available: true },
			    { id: 'id'+11, time: '11:00', available: false },
			    { id: 'id'+12, time: '12:00', available: true },
			    { id: 'id'+13, time: '13:00', available: false },
			    { id: 'id'+14, time: '14:00', available: true },
			    { id: 'id'+15, time: '15:00', available: true },
			    { id: 'id'+16, time: '16:00', available: true },
			    { id: 'id'+17, time: '17:00', available: true },
			    { id: 'id'+18, time: '18:00', available: true },
			    { id: 'id'+19, time: '19:00', available: false },
			    { id: 'id'+20, time: '20:00', available: true },
			    { id: 'id'+21, time: '21:00', available: false },
			    { id: 'id'+22, time: '22:00', available: true },
			    { id: 'id'+23, time: '23:00', available: true },
			    { id: 'id'+24, time: '24:00', available: true },
			   
			];

			// Generate slots
			const slotsContainer = document.getElementById('slots-1');
			const slotsContainer2 = document.getElementById('slots-2');
			const slotsContainer3 = document.getElementById('slots-3');
			var count=0;
			slots.forEach(slot => {
			    const slotElement = document.createElement('span');
			    slotElement.classList.add('slot');
			    slotElement.classList.add(slot.available ? 'available' : 'booked');
			    slotElement.textContent = slot.time;
			    
			    if (slot.available) {
			        slotElement.addEventListener('click', () => bookSlot(slot));
			    }
				
				if(count<8)
			    	slotsContainer.appendChild(slotElement);
			    else if(count >=8 && count <16)
			    	slotsContainer2.appendChild(slotElement);
			    else
			    	slotsContainer3.appendChild(slotElement);
			    	
			   count++;
				
			});
			
			// Book slot function
			function bookSlot(slot) {
				
			    if (!slot.available) return;
			
			    slot.available = false;
			    updateSlots(slot);
			}
			
			// Update slots display
			function updateSlots(selectedSlot) {
			    slotsContainer.innerHTML = '';
			    slotsContainer2.innerHTML = '';
			    slotsContainer3.innerHTML = '';
			    count =0;
			    slots.forEach(slot => {
					var slotElement = document.createElement('span');
					if(selectedSlot.id == slot.id){
						slotElement = document.createElement('input');
						slotElement.classList.add('slot');
					    slotElement.classList.add(slot.available ? 'available' : 'booked');
					    slotElement.textContent = slot.time;
					    slotElement.value = slot.time;
					    slotElement.name = "reportingTimeStr";
					}else{
						slotElement.classList.add('slot');
					    slotElement.classList.add(slot.available ? 'available' : 'booked');
					    slotElement.textContent = slot.time;
					}
				    
				    if (slot.available) {
				        slotElement.addEventListener('click', () => bookSlot(slot));
				    }
					
					if(count<8)
				    	slotsContainer.appendChild(slotElement);
				    else if(count >=8 && count <16)
				    	slotsContainer2.appendChild(slotElement);
				    else
				    	slotsContainer3.appendChild(slotElement);
				    	
				   count++;
			    });
			}
			
			
			//vehicle ajax call
			$(function(){
			    $.ajax({
			        url: '/api/get/all-vehicles',
			        type: 'GET',
			       	success: function (result) {
						  vehicleAutocomplete(document.getElementById("vehicle"), result);
			       	}
			    })
			 })
			 
			 //pick up ajax call
			 $(function(){
			    $.ajax({
			        url: '/api/get/all-container',
			        type: 'GET',
			       	success: function (result) {
						   
						  pickUpAutocomplete(document.getElementById("pick-up-container"), result);
						  dropAutocomplete(document.getElementById("drop-container"), result);
			       	}
			    })
			 })
			 
			 //vehicle autocomplete
			 function vehicleAutocomplete(inp, arr) {
	    	  /*the autocomplete function takes two arguments,
	    	  the text field element and an array of possible autocompleted values:*/
	    	  var currentFocus;
	    	  /*execute a function when someone writes in the text field:*/
	    	  inp.addEventListener("input", function(e) {
	    	      var a, b, c, d, i, val = this.value;
	    	      /*close any already open lists of autocompleted values*/
	    	      closeAllLists();
	    	      if (!val) { return false;}
	    	      currentFocus = -1;
	    	      /*create a DIV element that will contain the items (values):*/
	    	      a = document.createElement("DIV");
	    	      a.setAttribute("id", this.id + "autocomplete-list");
	    	      a.setAttribute("class", "autocomplete-items");
	    	      
	    	      c = document.createElement("DIV");
	    	      c.innerHTML +="<span>Regn. No | </span><span>Chasis No | </span><span>Owner Name | </span>"+
	    	      		"<span>Ins Upto | </span><span>Tax Up</span>";
	    	      /*append the DIV element as a child of the autocomplete container:*/
	    	      //a.innerHTML +=c;
	    	      this.parentNode.appendChild(a);
	    	      //a.appendChild(c);
	    	      /*for each item in the array...*/
	    	      for (i = 0; i < arr.length; i++) {
	    	        /*check if the item starts with the same letters as the text field value:*/
	    	        if (arr[i].value.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
						
	    	          /*create a DIV element for each matching element:*/
	    	          
	    	          b = document.createElement("DIV");
	    	          /*make the matching letters bold:*/
	    	          b.innerHTML = "<span><strong>" + arr[i].value.substr(0, val.length) + "</strong>";
	    	          b.innerHTML += arr[i].value.substr(val.length)+" | </span><span>"+arr[i].chasisNumber+" | </span><span>"+arr[i].ownerName+" | </span>"+
	    	          			"<span>"+arr[i].insuranceUpto+" | </span><span>"+arr[i].taxUpto+"</span>";
	    	          /*insert a input field that will hold the current array item's value:*/
	    	          b.innerHTML += "<input type='hidden' value='" + arr[i].value + "'>";
	    	          /*execute a function when someone clicks on the item value (DIV element):*/
	    	          b.addEventListener("click", function(e) {
	    	              /*insert the value for the autocomplete text field:*/
	    	              inp.value = this.getElementsByTagName("input")[0].value;
	    	              /*close the list of autocompleted values,
	    	              (or any other open lists of autocompleted values:*/
	    	              closeAllLists();
	    	          });
	    	          a.appendChild(b);
	    	        }
	    	      }
	    	  });
	    	  
	    	  
	    	  /*execute a function presses a key on the keyboard:*/
	    	  inp.addEventListener("keydown", function(e) {
	    	      var x = document.getElementById(this.id + "autocomplete-list");
	    	      
	    	      if (x) x = x.getElementsByTagName("div");
	    	      if (e.keyCode == 40) {
	    	        /*If the arrow DOWN key is pressed,
	    	        increase the currentFocus variable:*/
	    	        currentFocus++;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	      } else if (e.keyCode == 38) { //up
	    	        /*If the arrow UP key is pressed,
	    	        decrease the currentFocus variable:*/
	    	        currentFocus--;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	      } else if (e.keyCode == 13) {
	    	        /*If the ENTER key is pressed, prevent the form from being submitted,*/
	    	        e.preventDefault();
	    	        if (currentFocus > -1) {
	    	          /*and simulate a click on the "active" item:*/
	    	          if (x) x[currentFocus].click();
	    	        }
	    	      }
	    	  });
	    	  
	    	  function addActive(x) {
	    	    /*a function to classify an item as "active":*/
	    	    if (!x) return false;
	    	    /*start by removing the "active" class on all items:*/
	    	    removeActive(x);
	    	    if (currentFocus >= x.length) currentFocus = 0;
	    	    if (currentFocus < 0) currentFocus = (x.length - 1);
	    	    /*add class "autocomplete-active":*/
	    	    x[currentFocus].classList.add("autocomplete-active");
	    	  }
	    	  function removeActive(x) {
	    	    /*a function to remove the "active" class from all autocomplete items:*/
	    	    for (var i = 0; i < x.length; i++) {
	    	      x[i].classList.remove("autocomplete-active");
	    	    }
	    	  }
	    	  function closeAllLists(elmnt) {
	    	    /*close all autocomplete lists in the document,
	    	    except the one passed as an argument:*/
	    	    var x = document.getElementsByClassName("autocomplete-items");
	    	    for (var i = 0; i < x.length; i++) {
	    	      if (elmnt != x[i] && elmnt != inp) {
	    	        x[i].parentNode.removeChild(x[i]);
	    	      }
	    	    }
	    	  }
	    	  /*execute a function when someone clicks in the document:*/
	    	  document.addEventListener("click", function (e) {
	    	      closeAllLists(e.target);
	    	  });
	    	}
	    	
			//pick up autocomplete
			function pickUpAutocomplete(inp, arr) {
	    	  /*the autocomplete function takes two arguments,
	    	  the text field element and an array of possible autocompleted values:*/
	    	  var currentFocus;
	    	  /*execute a function when someone writes in the text field:*/
	    	  inp.addEventListener("input", function(e) {
	    	      var a, b, c, d, i, val = this.value;
	    	      /*close any already open lists of autocompleted values*/
	    	      closeAllLists();
	    	      if (!val) { return false;}
	    	      currentFocus = -1;
	    	      /*create a DIV element that will contain the items (values):*/
	    	      a = document.createElement("DIV");
	    	      a.setAttribute("id", this.id + "autocomplete-list");
	    	      a.setAttribute("class", "autocomplete-items");
	    	       
	    	      c = document.createElement("DIV");
	    	      c.innerHTML +="<span>Regn. No | </span><span>Chasis No | </span><span>Owner Name | </span>"+
	    	      		"<span>Ins Upto | </span><span>Tax Up</span>";
	    	      /*append the DIV element as a child of the autocomplete container:*/
	    	      //a.innerHTML +=c;
	    	      this.parentNode.appendChild(a);
	    	      //a.appendChild(c);
	    	      /*for each item in the array...*/
	    	      for (i = 0; i < arr.length; i++) {
	    	        /*check if the item starts with the same letters as the text field value:*/
	    	        if (arr[i].containerNo.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
						
	    	          /*create a DIV element for each matching element:*/
	    	          b = document.createElement("DIV");
	    	          /*make the matching letters bold:*/
	    	          b.innerHTML = "<span><strong>" + arr[i].containerNo.substr(0, val.length) + "</strong>";
	    	          b.innerHTML += arr[i].containerNo.substr(val.length)+" | </span><span>"+arr[i].size+" | </span><span>"+arr[i].sealNo+" | </span>"+
	    	          			"<span>"+arr[i].weight+" | </span><span>"+arr[i].voyageNo+"</span>";
	    	          /*insert a input field that will hold the current array item's value:*/
	    	          b.innerHTML += "<input type='hidden' value='" + arr[i].containerNo + "'>";
	    	          /*execute a function when someone clicks on the item value (DIV element):*/
	    	          b.addEventListener("click", function(e) {
	    	              /*insert the value for the autocomplete text field:*/
	    	              inp.value = this.getElementsByTagName("input")[0].value;
	    	              /*close the list of autocompleted values,
	    	              (or any other open lists of autocompleted values:*/
	    	              closeAllLists();
	    	          });
	    	          
	    	          a.appendChild(b);
	    	        }
	    	      }
	    	  });
	    	  
	    	  
	    	  /*execute a function presses a key on the keyboard:*/
	    	  inp.addEventListener("keydown", function(e) {
	    	      var x = document.getElementById(this.id + "autocomplete-list");
	    	      if (x) x = x.getElementsByTagName("div");
	    	      if (e.keyCode == 40) {
	    	        /*If the arrow DOWN key is pressed,
	    	        increase the currentFocus variable:*/
	    	        currentFocus++;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	      } else if (e.keyCode == 38) { //up
	    	        /*If the arrow UP key is pressed,
	    	        decrease the currentFocus variable:*/
	    	        currentFocus--;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	      } else if (e.keyCode == 13) {
	    	        /*If the ENTER key is pressed, prevent the form from being submitted,*/
	    	        e.preventDefault();
	    	        if (currentFocus > -1) {
	    	          /*and simulate a click on the "active" item:*/
	    	          if (x) x[currentFocus].click();
	    	        }
	    	      }
	    	  });
	    	  
	    	  function addActive(x) {
	    	    /*a function to classify an item as "active":*/
	    	    if (!x) return false;
	    	    /*start by removing the "active" class on all items:*/
	    	    removeActive(x);
	    	    if (currentFocus >= x.length) currentFocus = 0;
	    	    if (currentFocus < 0) currentFocus = (x.length - 1);
	    	    /*add class "autocomplete-active":*/
	    	    x[currentFocus].classList.add("autocomplete-active");
	    	  }
	    	  function removeActive(x) {
	    	    /*a function to remove the "active" class from all autocomplete items:*/
	    	    for (var i = 0; i < x.length; i++) {
	    	      x[i].classList.remove("autocomplete-active");
	    	    }
	    	  }
	    	  function closeAllLists(elmnt) {
	    	    /*close all autocomplete lists in the document,
	    	    except the one passed as an argument:*/
	    	    var x = document.getElementsByClassName("autocomplete-items");
	    	    for (var i = 0; i < x.length; i++) {
	    	      if (elmnt != x[i] && elmnt != inp) {
	    	        x[i].parentNode.removeChild(x[i]);
	    	      }
	    	    }
	    	  }
	    	  /*execute a function when someone clicks in the document:*/
	    	  document.addEventListener("click", function (e) {
	    	      closeAllLists(e.target);
	    	  });
	    	}
	    	
	    	
	    	//drop autocomplete
			function dropAutocomplete(inp, arr) {
	    	  /*the autocomplete function takes two arguments,
	    	  the text field element and an array of possible autocompleted values:*/
	    	  var currentFocus;
	    	  /*execute a function when someone writes in the text field:*/
	    	  inp.addEventListener("input", function(e) {
	    	      var a, b, c, d, i, val = this.value;
	    	      /*close any already open lists of autocompleted values*/
	    	      closeAllLists();
	    	      if (!val) { return false;}
	    	      currentFocus = -1;
	    	      /*create a DIV element that will contain the items (values):*/
	    	      a = document.createElement("DIV");
	    	      a.setAttribute("id", this.id + "autocomplete-list");
	    	      a.setAttribute("class", "autocomplete-items");
	    	      
	    	      c = document.createElement("DIV");
	    	      c.innerHTML +="<span>Regn. No | </span><span>Chasis No | </span><span>Owner Name | </span>"+
	    	      		"<span>Ins Upto | </span><span>Tax Up</span>";
	    	      /*append the DIV element as a child of the autocomplete container:*/
	    	      //a.innerHTML +=c;
	    	      this.parentNode.appendChild(a);
	    	      //a.appendChild(c);
	    	      /*for each item in the array...*/
	    	      for (i = 0; i < arr.length; i++) {
	    	        /*check if the item starts with the same letters as the text field value:*/
	    	        if (arr[i].containerNo.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
						
	    	          /*create a DIV element for each matching element:*/
	    	          
	    	          b = document.createElement("DIV");
	    	          /*make the matching letters bold:*/
	    	          b.innerHTML = "<span><strong>" + arr[i].containerNo.substr(0, val.length) + "</strong>";
	    	          b.innerHTML += arr[i].containerNo.substr(val.length)+" | </span><span>"+arr[i].size+" | </span><span>"+arr[i].sealNo+" | </span>"+
	    	          			"<span>"+arr[i].weight+" | </span><span>"+arr[i].voyageNo+"</span>";
	    	          /*insert a input field that will hold the current array item's value:*/
	    	          b.innerHTML += "<input type='hidden' value='" + arr[i].containerNo + "'>";
	    	          /*execute a function when someone clicks on the item value (DIV element):*/
	    	          b.addEventListener("click", function(e) {
	    	              /*insert the value for the autocomplete text field:*/
	    	              inp.value = this.getElementsByTagName("input")[0].value;
	    	              /*close the list of autocompleted values,
	    	              (or any other open lists of autocompleted values:*/
	    	              closeAllLists();
	    	          });
	    	          
	    	          a.appendChild(b);
	    	        }
	    	      }
	    	  });
	    	  
	    	  
	    	  /*execute a function presses a key on the keyboard:*/
	    	  inp.addEventListener("keydown", function(e) {
	    	      var x = document.getElementById(this.id + "autocomplete-list");
	    	      
	    	      if (x) x = x.getElementsByTagName("div");
	    	      if (e.keyCode == 40) {
	    	        /*If the arrow DOWN key is pressed,
	    	        increase the currentFocus variable:*/
	    	        currentFocus++;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	      } else if (e.keyCode == 38) { //up
	    	        /*If the arrow UP key is pressed,
	    	        decrease the currentFocus variable:*/
	    	        currentFocus--;
	    	        /*and and make the current item more visible:*/
	    	        addActive(x);
	    	      } else if (e.keyCode == 13) {
	    	        /*If the ENTER key is pressed, prevent the form from being submitted,*/
	    	        e.preventDefault();
	    	        console.log("ddddd")
	    	        if (currentFocus > -1) {
	    	          /*and simulate a click on the "active" item:*/
	    	          if (x) x[currentFocus].click();
	    	        }
	    	      }
	    	  });
	    	  
	    	  function addActive(x) {
	    	    /*a function to classify an item as "active":*/
	    	    if (!x) return false;
	    	    /*start by removing the "active" class on all items:*/
	    	    removeActive(x);
	    	    if (currentFocus >= x.length) currentFocus = 0;
	    	    if (currentFocus < 0) currentFocus = (x.length - 1);
	    	    /*add class "autocomplete-active":*/
	    	    x[currentFocus].classList.add("autocomplete-active");
	    	  }
	    	  function removeActive(x) {
	    	    /*a function to remove the "active" class from all autocomplete items:*/
	    	    for (var i = 0; i < x.length; i++) {
	    	      x[i].classList.remove("autocomplete-active");
	    	    }
	    	  }
	    	  function closeAllLists(elmnt) {
	    	    /*close all autocomplete lists in the document,
	    	    except the one passed as an argument:*/
	    	    var x = document.getElementsByClassName("autocomplete-items");
	    	    for (var i = 0; i < x.length; i++) {
	    	      if (elmnt != x[i] && elmnt != inp) {
	    	        x[i].parentNode.removeChild(x[i]);
	    	      }
	    	    }
	    	  }
	    	  /*execute a function when someone clicks in the document:*/
	    	  document.addEventListener("click", function (e) {
	    	      closeAllLists(e.target);
	    	  });
	    	}
		});
	</script> 
</body>
</html>
